html {
  overflow-y: scroll;
}

body{
  margin: 0;
}

.menu > ul li{
  display: inline-block;
  list-style-type: none;
  text-decoration: none;
  color: rgb(201, 201, 201);
  padding-right: 1.5rem;
  font-size: 1.5rem;
  line-height: 3rem;
}

.menu > ul li:hover{
  color: rgb(177, 175, 175);
}

.menu > ul{
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.menu{
  margin-bottom: 6rem;
}

.page-title{
  color: #333;
  font-size: 3rem;
  font-family: sans-serif;
  text-transform: uppercase;
  line-height: 4.5rem;
  margin-bottom: 0;
}

.container{
  margin: 0 auto;
  max-width: 36rem;
  padding: 0 0.75rem;
}

article > h2{
  font-family: sans-serif;
  color: #333;
  font-size: 1.5rem;
  line-height: 3rem;
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
}

article > p{
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: justify;
  color: #333;
}

article{
  margin-bottom: 1.5rem;
}

article > h3{
  font-size: 1rem;
  color: rgb(201, 201, 201);
  font-family: sans-serif;
  margin-top: 0;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: normal;
}

article > div{
  position: relative;
  height: 3rem;
}

article > div > a{
  line-height: 1.5rem;
  font-size: 1rem;
  background: white;
  padding: 0.5rem 1rem;
  border: none;
  color: white;
  background: rgb(172, 172, 172);
  border-radius: 0.75rem;
  position: absolute;
  font-family: sans-serif;
  text-decoration: none;
  right: 0;
}

article > div > a:hover{
  background: rgb(152, 152, 152);
  cursor: pointer;
}

/* admin */

.sidebar{
  position: fixed;
  width: 18rem;
  height: 100%;
  top: 0;
  /* box-shadow: 10px 0 5px -2px #e3e3e3; */
  border-right: 1px solid rgb(214, 214, 214);
  font-family: sans-serif;
  background: white;
}

.user-thumbnail{
  margin-top:3rem;
  text-align:center;
}

.user-image{
  width: 6rem;
  height: 6rem;
  font-size: 3rem;
  background: rgb(114, 200, 92);
  line-height: 6rem;
  color: white;
  border-radius: 50%;
  margin:0 auto;
}

.user-thumbnail > h2{
  color: #333;
  font-size: 1.5rem;
  font-weight: lighter;
  line-height: 3rem;
}

.sidebar > ul{
  list-style: none;
  margin-left: 0;
  margin-right: 0;
  margin-top: 4.5rem;
  padding: 0;
}

.sidebar > ul > li{
  line-height: 3rem;
  font-size: 1.25rem;
  font-weight: lighter;
}

.sidebar > ul > li > a{
  text-decoration: none;
  color: #333;
  display:block;
  text-transform: uppercase;
  margin-left: 1.5rem;
}

.admin-posts{
  list-style: none;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  margin-top: 1.5rem;
}

.column-admin{
  width: 8rem;
  height: 3rem;
  text-align:center;
  line-height: 3rem;
}

.admin-posts > li{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.admin-posts > li  h4{
  margin:0;
  padding:0;
  color:#333;
  font-size: 1rem;
  font-family: sans-serif;
  text-align:left;
  font-weight: lighter;
}

.admin-posts > li  h3{
  margin:0;
  padding:0;
  color:#333;
  font-size: 1rem;
  font-family: sans-serif;
  text-align:left;
  font-weight: normal;
}

.container-admin-posts{
  margin: 0 auto;
  max-width: 54rem;
  padding: 0 0.75rem;
}

.table-separator{
  border-top: 1px solid rgb(198, 198, 198);
  border-bottom: none;
  border-left: none;
  border-right: none;
}

.edit-button{
  background: rgb(245, 195, 66);
  border: none;
  border-radius: 0.75rem;
  padding: 0.375rem;
  font-size: 1rem;
  width: 6rem;
  color: white;
  font-family: sans-serif;
  cursor: pointer;
  text-decoration:none;

}

.edit-button:hover{
  background: rgb(240, 188, 56);
}

.delete-button{
  background: rgb(245, 66, 66);
  border: none;
  border-radius: 0.75rem;
  padding: 0.375rem;
  font-size: 1rem;
  width: 6rem;
  color: white;
  font-family: sans-serif;
  cursor: pointer;

}

.delete-button:hover{
  background: rgb(224, 61, 61);
}

.admin-page-title{
  color: #333;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 3rem;
}

.new-post-button{
  background: rgb(66, 148, 245);
  border: none;
  border-radius: 0.75rem;
  padding: 0.375rem;
  font-size: 1rem;
  width: 6rem;
  display:block;
  text-align: center;
  color: white;
  font-family: sans-serif;
  text-decoration: none;
  margin-top: 3rem;
}

.new-post-button:hover{
  background: rgb(62, 138, 228);
}

.admin-form-label{
  font-family: sans-serif;
  font-size: 1.5rem;
  font-weight: lighter;

}

.admin-form-input-text{
  display: block;
  margin-top:1.5rem;
  border: 1px solid rgb(185, 185, 185);
  border-radius: 0.75rem;
  line-height: 1.5rem;
  font-size: 1rem;
  padding: 0.2rem 0.5rem;
  font-family: sans-serif;
  font-weight: normal;
  margin-bottom: 1.5rem;
}

.admin-form-input-text-area{
  display: block;
  margin-top:24px;
  border: 1px solid rgb(185, 185, 185);
  border-radius: 0.75rem;
  line-height: 1.5rem;
  font-size: 1rem;
  padding: 0.2rem 0.5rem;
  font-family: sans-serif;
  font-weight: normal;
  margin-bottom: 1.5rem;
  width: 42rem;
  height: 24rem;
}

.new-post-container{
  margin-top: 1.5rem;
}

.button-right-container{
  position:relative;
}

.button-right-container > button{
  position: absolute;
  left: 37rem;
  background: rgb(88, 221, 54);
  border: none;
  border-radius: 0.75rem;
  padding: 0.375rem;
  font-size: 1rem;
  width: 6rem;
  color: white;
  font-family: sans-serif;
  cursor: pointer;
}

.button-right-container > button:hover{
  background: rgb(82, 207, 50);
}

.alert-error{
  background: rgba(0, 0, 0, 0.62);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left:0;
  z-index:100;
  display: none;
}

.alert-error > div{
  background: rgb(255, 255, 255);
  border-radius: 0.75rem;
  width: 24rem;
  height: 14rem;
  list-style: none;
  position: fixed;
  left: 50%;
  margin-left: -12rem;
  top: 50%;
  margin-top: -10rem;
  text-align: center;
  padding:0;
}

.alert-error > div > ul{
  list-style: none;
  text-align: center;
  padding:0;
  height:11rem;
  display: flex;
  margin: auto;
  justify-content: center;
  flex-direction: column;
}

.alert-error > div > ul > li{
  font-size: 1rem;
  font-family: sans-serif;
  line-height: 1.5rem;
  padding-top: 0.5rem;
  color: #333;
}

.alert-error > div > ul > li > span{
  color: rgb(66, 148, 245);
}

.alert-error > div > button{
  position: absolute;
  left:50%;
  bottom:1rem;
  margin-left: -3rem;
  background: rgb(66, 148, 245);
  border: none;
  border-radius: 0.75rem;
  padding: 0.375rem;
  font-size: 1rem;
  width: 6rem;
  color: white;
  font-family: sans-serif;
  cursor: pointer;
}

.alert-error > div > button:hover{
  background: rgb(62, 138, 228);
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.thubmnail-login{
  border-radius: 0.75rem;
  border: 1px solid rgb(207, 207, 207);
  padding: 1rem;
  width: 15.25rem;
  margin: 4.5rem auto;
}

.login-button{
  background: rgb(88, 221, 54);
  border: none;
  border-radius: 0.75rem;
  padding: 0.375rem;
  font-size: 1rem;
  width: 6rem;
  color: white;
  font-family: sans-serif;
  cursor: pointer;
  position: relative;
  left: 9rem;
}

.admin-login-input-text{
  display: block;
  margin-top:1.5rem;
  border: 1px solid rgb(185, 185, 185);
  border-radius: 0.75rem;
  line-height: 1.5rem;
  font-size: 1rem;
  padding: 0.2rem 0.5rem;
  font-family: sans-serif;
  font-weight: normal;
}

.user-image-login{
  width: 6rem;
  height: 6rem;
  font-size: 3rem;
  background: rgb(205, 205, 205);
  line-height: 6rem;
  color: white;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  text-align:center;
}
