<% include ../partials/header %>

<div class="container">
  <h1 class="page-title">Clever fox</h1>
  <nav class="menu">
    <ul>
      <a href="/"><li>home</li></a>
      <a href="/about"><li>about me</li></a>
    </ul>
  </nav>

  <article>
    <h2>About me</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempor felis et tellus vulputate vehicula. Nullam vitae ultricies ante. Curabitur dapibus mauris eget accumsan mattis. Nullam accumsan turpis scelerisque orci elementum elementum. Aenean tristique, mi id pellentesque consequat, velit massa posuere quam, id sodales sem eros quis leo. 
    </p>
  </article>


</div>

<% include ../partials/footer %>
