<% include ../partials/header %>

<div class="container">
  <h1 class="page-title">Clever fox</h1>
  <nav class="menu">
    <ul>
      <a href="/"><li>home</li></a>
      <a href="/about"><li>about us</li></a>
    </ul>
  </nav>

  <div id="posts"></div>

</div>

<script type="text/babel" src="assets/js/posts.js"></script>
<% include ../partials/footer %>
