<% include ../partials/header %>

<div class="container">
  <h1 class="page-title">Clever fox</h1>
  <nav class="menu">
    <ul>
      <a href="/"><li>home</li></a>
      <a href="#"><li>about me</li></a>
    </ul>
  </nav>

  <div id="posts"></div>
</div>

<% include ../partials/footer %>
