<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Admin panel</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  </head>
  <body>

    <div class="container-admin-posts">
      <ul class="admin-posts">
        <li>
          <div class="column-admin">
            <h3>Title</h3>
          </div>
          <div class="column-admin">
            <h3>Content</h3>
          </div>
          <div class="column-admin">
            <h3>Author</h3>
          </div>
          <div class="column-admin">
            <h3>Date</h3>
          </div>
          <div class="column-admin">

          </div>
          <div class="column-admin">

          </div>
        </li>
        <hr class="table-separator">
        <li>
          <div class="column-admin">
            <h4>Learn React</h4>
          </div>
          <div class="column-admin">
            <h4>Lorem ipsum...</h4>
          </div>
          <div class="column-admin">
            <h4>nekobard</h4>
          </div>
          <div class="column-admin">
            <h4>2016-04-18</h4>
          </div>
          <div class="column-admin">
            <button class="edit-button">Edit</button>
          </div>
          <div class="column-admin">
            <button class="delete-button">Delete</button>
          </div>
        </li>
      </ul>
    </div>
    <aside class="sidebar">
      <div class="user-thumbnail">
        <div class="user-image">N</div>
        <h2>Hello nekobard</h2>
      </div>
      <ul>
        <li><a href="#">Posts</a></li>
        <li><a href="#">Accounts</a></li>
        <li><a href="#">About us</a></li>
        <li><a href="#">Page settings</a></li>
      </ul>
    </aside>
  </body>
</html>
