<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Admin panel</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  </head>
  <body>

    <div class="container">

    </div>
    <aside class="sidebar">
      <div class="user-thumbnail">
        <div class="user-image">N</div>
        <h2>Hello nekobard</h2>
      </div>
      <ul>
        <li><a href="#">Posts</a></li>
        <li><a href="#">Accounts</a></li>
        <li><a href="#">About us</a></li>
        <li><a href="#">Page settings</a></li>
      </ul>
    </aside>
  </body>
</html>
