<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sign in</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  </head>
  <body>
    <div class="thubmnail-login">
      <div class="user-image-login">
        <i class="fa fa-user" aria-hidden="true"></i>

      </div>
      <form action="" method="post">
       <label for="username" class="admin-form-label">Username</label>
       <input type="text" name="username" placeholder="username" class="admin-login-input-text"><br>
       <label for="password" class="admin-form-label">Password</label>
       <input type="password" name="password" placeholder="password" class="admin-login-input-text"><br><br>
       <input type="submit" value="Sign in" class="login-button">
      </form>
    </div>
  </body>
</html>
