<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Admin panel</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.1/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.1/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  </head>
  <body>

    <div class="container-admin-posts">
      <h1 class="admin-page-title"><%= adminPageTitle %></h1>

      <div class="new-post-container">
        <label for="title" class="admin-form-label">Title</label>
        <input type="text" id="title" class="admin-form-input-text">
        <label for="content" class="admin-form-label">Content</label>
        <textarea name="content" rows="10" cols="60" id="content" class="admin-form-input-text-area"></textarea>
        <div class="button-right-container">
          <button>Save</button>
        </div>
      </div>

    </div>
    <aside class="sidebar">
      <div class="user-thumbnail">
        <div class="user-image">N</div>
        <h2>Hello nekobard</h2>
      </div>
      <ul>
        <li><a href='<%= urls.posts %>'>Posts</a></li>
        <li><a href="#">Accounts</a></li>
        <li><a href="#">About us</a></li>
        <li><a href="#">Page settings</a></li>
      </ul>
    </aside>

  </body>
</html>
